<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="contact-area">
                    <div class="contact-list">
                        <div class="contact-win">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2 id="detail-etudiant-name"></h2>
                                    <p class="ctn-ads" id="detail-etudiant-id"></p>
                                </div>
                            </div>
                            <div class="conct-sc-ic">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-5">
                                <p class="bold text-blue-800">Date de naissance</p>
                            </div>
                            <div class="col">
                                 <p id="detail-etudiant-birthday"></p>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-5">
                                <p class="bold text-blue-800">Adresse</p>
                            </div>
                            <div class="col">
                                 <p id="detail-etudiant-adresse"></p>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-5">
                                <p class="bold text-blue-800">Email & Tél.</p>
                            </div>
                            <div class="col">
                                 <p id="detail-etudiant-contact"></p>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-5">
                                <p class="bold text-blue-800">Contact père</p>
                            </div>
                            <div class="col">
                                 <p id="detail-etudiant-pere"></p>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-5">
                                <p class="bold text-blue-800">Contact mère</p>
                            </div>
                            <div class="col">
                                 <p id="detail-etudiant-mere"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
