.action{
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.action-detail{
  cursor: pointer;
}

.uppercase-b{
  text-transform: uppercase;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}
